<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      List Of Cleaners
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
    <div padding>
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="kittens">
            Review
          </ion-segment-button>
          <ion-segment-button value="puppies">
            Profiles
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'puppies'">
          <ion-item>
            <ion-list id="cleanerDetails-list9" *ngFor = "let key of list">
                <div class="spacer" style="width:300px;height:44px;" id="cleanerDetails-spacer5"></div>
                <img src="{{key.photoURL}}" style="display:block;width:40%;height:;margin-left:auto;margin-right:auto;" />
                
                  <ion-item-divider color="light" id="cleanerDetails-list-item-divider1">
                      <p text-center> {{key.displayName}}</p>
                  </ion-item-divider>
                  <ion-item id="cleanerDetails-list-item-container3">
                    <div id="cleanerDetails-markdown7" class="show-list-numbers-and-dots">
                      <p style="margin-top:0px;color:#000000;">
                       Subject : {{key.subject}}
                      </p>
                    </div>
                    <div id="cleanerDetails-markdown8" class="show-list-numbers-and-dots">
                      <p style="margin-top:0px;color:#000000;">
                        Level: {{key.level}}
                      </p>
                    </div>
                    <div id="cleanerDetails-markdown9" class="show-list-numbers-and-dots">
                      <p style="margin-top:0px;color:#000000;">
                        Experience: {{key.exp}} Years
                      </p>
                    </div>
                  
                      <div id="cleanerDetails-markdown11" class="show-list-numbers-and-dots">
                          <p style="margin-top:0px;color:#000000;">
                              Qualification: {{key.qualification}}
                          </p>
                        </div>
                    <div id="cleanerDetails-markdown11" class="show-list-numbers-and-dots">
                      <p style="margin-top:0px;color:#000000;">
                        Contact Number: {{key.phone}}
                      </p>
                    </div>
                    <div id="cleanerDetails-markdown12" class="show-list-numbers-and-dots">
                      <p style="margin-top:0px;color:#000000;">
                       Rate/hour: RM {{key.rate}}
                      </p>
                    </div>
                  </ion-item>
                  
               
                
                <button ion-button block round color="baru" (click)="call(key.phone)">Call Me</button>
                
              </ion-list>
            </ion-item>
        </ion-list>
      
        <ion-list *ngSwitchCase="'kittens'">
            <ion-item-divider color="primary">
                <p text-center> Review</p>
            </ion-item-divider>
            <div class="spacer" style="width:300px;height:15px;" id="cleanerDetails-spacer5"></div>
            <ion-list>
            <ion-item *ngFor="let item of commentRef$| async">
                <h3>Anonymus: </h3>
                <p style="margin-top:0px;color:#000000;">{{item.commentText}}</p>
              </ion-item>
            </ion-list> 
            <ion-item>
                <ion-textarea placeholder="Enter your comments" [(ngModel)]="comment.commentText"></ion-textarea>
                <button ion-button clear item-end (click)="review(comment)">Comment</button>
            </ion-item>
        </ion-list>
      </div>

</ion-content>